<div class='col-xs-6 col-sm-3 col-md-3 col-lg-2'><%= f.input :keyword, as: :string, label: false, placeholder: "Search by Name" %></div>
<% if current_user.is_partner? %>
	<div class='col-xs-6 col-sm-3 col-md-3 col-lg-2'><%= f.input :staff_id, as: :select, collection: @current_profile.staff, label: false, include_blank: '- Staff Member -' %></div>
<% end %>
<div class='col-xs-6 col-sm-3 col-md-2 col-lg-1'><%= f.input :active, as: :select, label: false, include_blank: '- Active -' %></div>