<div class="row">
  <div class="col-sm-4"><!-- COLUMN 1 -->
    <div class="panel panel-success">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Progress Tracker</h4>
      </div>
      <div class="panel-body">
        <%= render 'users/progress_tracker', enrollment: @enrollment %>
      </div>
    </div>
  </div>
</div>
