<div class="container"><br>

  <div class="panel panel-info" id="guardian">
    <div class="panel-heading">
      <h4 class="panel-title">Please fill out the following confidential reference:</h4>
    </div>
    <div class="panel-body text-center">
      <h1>Thank you!!</h1>
    </div>
  </div><br>
</div>
