<div class="container" id="faq">
  <!-- <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6"><a href="#info">Signing Up</a></div>
      <div class="col-xs-6"><a href="#info">Background Checks</a></div>
      <div class="col-xs-6"><a href="#info">Your MentorMe Account</a></div>
      <div class="col-xs-6"><a href="#info">Tips, Tools &amp; Support</a></div>
    </div>
  </div> -->

  <section id="signup-info">
    <div class='text-center'>
      <h1>Signing Up with MentorMe</h1>
      <p class="lead">Some text about the video below</p>
    </div>

    <div class="row">
      <div class="col-sm-6 pull-right gallery-popup fitvids">
        <iframe src="http://player.vimeo.com/video/4240369?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" allowFullScreen></iframe>
      </div>
      <div class="col-sm-6 pull-left">
        <h3>Overview: Signing Up with MentorMe</h3>
        <p class="lead">Here's a short demo video explaining how to sign up with MentorMe!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, vero voluptas delectus explicabo maxime ad qui incidunt! Saepe, dolor, consequatur, distinctio incidunt unde fuga expedita ducimus maiores tempora quis vitae?</p>
      </div>
    </div>
  </section>

  <section id="FAQs">
    <div class='text-center'>
      <h1>Background Check FAQs</h1>
      <p class="lead">Check below for a list of frequently asked questions about background checks.</p>
    </div>

    <div class="panel-group" id="accordion">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#panel-One">How does the background check for mentors work?</a>
          </h4>
        </div>
        <div id="panel-One" class="panel-collapse collapse">
          <div class="panel-body">
              <p>The Memphis Grizzlies Charitable Foundation uses an agency called <strong><a href="http://identogo.com/ProductsServices/LiveScanFingerprinting.aspx" target="_blank">Indentogo</a></strong> to conduct fingerprint background checks on every mentor who signs up for one of its programs, including partner programs.</p> <p>Once you sign up, MentorMe will send you an email to help you schedule an appointment through Indentogo's site to get fingerprinted. Indentogo will use your fingerprint to run a background check. The background check will have to be completed before you can be matched with a mentee.</p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#panel-Two">How do I schedule my background check appointment?</a>
          </h4>
        </div>
        <div id="panel-Two" class="panel-collapse collapse">
          <div class="panel-body">
            <p>After you sign up with a program, MentorMe will you a direct link to schedule your appointment online after you sign up to mentor with a program.</p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#panel-Three">What information will I need to schedule my appointment?</a>
          </h4>
        </div>
        <div id="panel-Three" class="panel-collapse collapse">
          <div class="panel-body">
              <p>Indentogo's online form will ask you for basic information, including date of birth, address, <strong><span class="tooltip-trigger" data-toggle="tooltip" title="This information will be used to verify your identity in person.">height, and weight.</span></strong></p><p> You’ll also need the name of the organization you’re signing up with (i.e. Youth Villages) and something called an "ORI number" for your organization. MentorMe will send you an email with this information once you sign up so you’ll have it handy when scheduling your background check.</p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#panel-Four">How long will it take me to get an appointment?</a>
          </h4>
        </div>
        <div id="panel-Four" class="panel-collapse collapse">
          <div class="panel-body">
            <p>Most locations offer same-day appointments. Hours vary depending on the location. There will be a dropdown menu on Identogo's site where you can select a date and time that works best for you.</p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#panel-Five">Where will I go for my appointment?</a>
          </h4>
        </div>
        <div id="panel-Five" class="panel-collapse collapse">
          <div class="panel-body">
            <p>Identogo has 9 locations in the Memphis-area. You can view them <strong><a href="http://www.l1enrollment.com/locations/?st=tn#West" target="_blank">here.</a></strong> MentorMe will help identify the location closest to the address you provide us with when you sign up with a program.</p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#panel-Six">How long will it take for me to get fingerprinted?</a>
          </h4>
        </div>
        <div id="panel-Six" class="panel-collapse collapse">
          <div class="panel-body">
            <p>10 minutes max. There shouldn't be a waiting period if you are on time for your appointment. </p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#panel-Seven">How long will it take for the results of my background check to be sent back to the organization?</a>
          </h4>
        </div>
        <div id="panel-Seven" class="panel-collapse collapse">
          <div class="panel-body">
            <p>It will take around 2-3 business days for your fingerprint to be processed and for the organization to receive the results of your background check. Once the background check has been completed, you will receive an email from MentorMe to set up your in-person interview with a mentoring program staff member. </p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="account-info">
    <div class='text-center'>
      <h1>Your MentorMe Account</h1>
      <p class="lead">Check out these videos for instructions on setting up and using your MentorMe account.</p>
    </div>

    <div class="row">
      <div class="col-sm-6 pull-right">
        <iframe src="http://player.vimeo.com/video/4240369?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" allowFullScreen></iframe>
      </div>
      <div class="col-sm-6 pull-left">
        <h3>Setting Up Your Profile</h3>
        <p class="lead">Your Profile</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, vero voluptas delectus explicabo maxime ad qui incidunt! Saepe, dolor, consequatur, distinctio incidunt unde fuga expedita ducimus maiores tempora quis vitae?</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 pull-right">
        <iframe src="http://player.vimeo.com/video/4240369?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" allowFullScreen></iframe>
      </div>
      <div class="col-sm-6 pull-left">
        <h3>Check-Ins</h3>
        <p class="lead">Here's a short demo video explaining how to sign up with MentorMe!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, vero voluptas delectus explicabo maxime ad qui incidunt! Saepe, dolor, consequatur, distinctio incidunt unde fuga expedita ducimus maiores tempora quis vitae?</p>
      </div>
    </div><!-- /row -->

    <div class="row">
      <div class="col-sm-6 pull-right">
        <iframe src="http://player.vimeo.com/video/4240369?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" allowFullScreen></iframe>
      </div>
      <div class="col-sm-6 pull-left">
        <h3>Goals</h3>
        <p class="lead">Here's a short demo video explaining how to sign up with MentorMe!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, vero voluptas delectus explicabo maxime ad qui incidunt! Saepe, dolor, consequatur, distinctio incidunt unde fuga expedita ducimus maiores tempora quis vitae?</p>
      </div>
    </div><!-- /row -->

    <div class="row">
      <div class="col-sm-6 pull-right">
        <iframe src="http://player.vimeo.com/video/4240369?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" allowFullScreen></iframe>
      </div>
      <div class="col-sm-6 pull-left">
        <h3>Messaging</h3>
        <p class="lead">Here's a short demo video explaining how to sign up with MentorMe!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, vero voluptas delectus explicabo maxime ad qui incidunt! Saepe, dolor, consequatur, distinctio incidunt unde fuga expedita ducimus maiores tempora quis vitae?</p>
      </div>
    </div><!-- /row -->
  </section>

  <section id="tips-tools-support">
    <div class='text-center'>
      <h1>Tips, Tools, &amp; Support</h1>
      <p class="lead">Here is some text about this section. </p>
    </div>
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#pane1" data-toggle="tab">Tips</a></li>
        <li><a href="#pane2" data-toggle="tab">Tools</a></li>
        <li><a href="#pane3" data-toggle="tab">Support</a></li>
      </ul>
      <div class="tab-content">
        <div id="pane1" class="tab-pane active">
          <h4>Tips</h4>
          <p>Why is this going to the top of the page?</p>
        </div>
        <div id="pane2" class="tab-pane">
          <h4>Tools</h4>
          <p> and so on ...</p>
        </div>
        <div id="pane3" class="tab-pane">
          <h4>Getting in touch with MentorMe</h4>
          Make these into Formstack Forms
          <p> Technical questions or issues: <strong><a href="mailto:support@getmentorme.com">support@getmentorme.com</a></strong></p>
          <p> Brilliant ideas on how we can improve MentorMe: <strong><a href="2cents@getmentorme.com">2cents@getmentorme.com</a></strong></p>
          <p> Any other questions or comments: <strong><a href="mentors@getmentorme.com">mentors@getmentorme.com</a></strong></p> (Please include your name and which organization you're mentoring with in the email.)
        </div>
      </div><!-- /.tab-content -->
    </div><!-- /.tabbable -->
  </section>
</div>
